@import url("fonts.css");
@import url(reset.css);

body {
	font-family: "Inter", sans-serif;
	color: #7d7d7d;
	font-size: 18px;
   line-height: 1.3;
}
.wrapper {
   min-height: 100%;
   overflow: clip;
}
[class*="__container"]{
   max-width: 1250px;
   margin: 0 auto;
   padding: 0 15px;
}
.header {
   background-color: #606B74;
   padding: 15px;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
}
.header__logo {
   display: inline-block;
   margin-right: 195px;
   vertical-align: middle;
}
.header__menu {
   display: inline-block;
   vertical-align: middle;
}
.menu {
}
.menu__item {
   display: inline-block;
   position: relative;
}
.menu__item:not(:last-child) {
   margin-right: 43px;
}
.menu__link {
   background-color: #a73515;
   display: inline-block;
   padding: 10px;
   border-radius: 20%;
}
.menu__item:hover .menu__link {
    background-color: #aa523d;  
}
.menu__item:hover .sub-menu {
   visibility: visible;
}

.sub-menu {
   position: absolute;
   left: 0;
   top: 100%;
   padding-top: 5px;
   background-color: rgb(107, 108, 102);
   color: #000;
   width: 110px;
   visibility: hidden;
}
.sub-menu__item {
   padding-top: 5px;
   padding-bottom: 5px;
   padding-right: 5px;
   position: relative;
}
.sub-menu__link {
   display: inline-block;
   padding: 5px;
}
.sub-menu__link:hover {
   text-decoration: underline;
}
.sub-menu__item:hover .sub-menu__link {
   background-color: #ac4e37;
}
.sub-menu__item:hover .sub-menu-side__item {
   visibility: visible;
}
.sub-menu-side {
   position: absolute;
   top: 0;
   left: 100%;
   width: 110px;
   visibility: hidden;
}
.sub-menu-side__item {
   background-color:rgb(192, 192, 180);;
}
.sub-menu-side__link {
   display: block;
   padding:10px;
}
.sub-menu-side__link:hover {
   text-decoration: underline;
}
 /*----------------Part 2----------------------*/

.cards__container {
   padding: 100px 15px;
}
.cards__top-part {
   font-size: 0;
}
.cards__top-part:not(:last-child){
   margin-bottom: 31px;
}
.top {
}
.top__card {
   display: inline-block;
   max-width: 386px;
   width: 100%;
   position: relative;
}
.top__foto {
   width: 100%;
}
.top__card:hover .top__social-networks {
   visibility: visible;
}
.top__card:hover::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(107, 119, 229, 0.7);
}
.top__card:not(:last-child) {
   margin-right: 31px;
}
.top__social-networks {
   position: absolute;
   padding-top: 3px;
   top: 240px;
   left: 107px;
   visibility: hidden;
}
.top__link-social:not(:last-child) {
   margin-right: 13px;
}
.top__personal-data {
   padding: 24px 47px;
   background-color: #fff;
   margin: 0 23px;
   width: 341px;
   position: absolute;
   bottom: 22px;
   left: 0;
}
.data {
}
.data__title {
   color: #37393F;
   text-align: center;
   font-family: "Poppins";
   font-size: 25px;
   font-weight: 600;
   line-height: 1.2;
}
.data__text {
   color: #7D7D7D;
   text-align: center;
   font-family:"Inter";
   font-size: 18px;
   line-height: 1.35;
}