@import url("fonts.css");
@import url("reset.css");
body {
   font-family: "Inter", sans-serif;
	color: #7d7d7d;
	font-size: 18px;
}
h1,
h2,
h3,
h4 {
   font-family: "Poppins", sans-serif;
   color: #37393F;
} 
h5,
.block-6,
.block-8,
.content-block a {
   font-family:"CoreSansC-65Bold";
   color: #807D7E;
   font-size: 20px;
   line-height: 33.5px;
   letter-spacing: 0.4px;
}
.block-7,
.block-9 {
   font-family: "Causten-Regular";
   color: #807D7E;
   font-size: 20px;
   font-weight: 400;
   line-height: 33.5px; /* 167.5% */
   letter-spacing: 0.4px;
}
.content-bottom {
   font-family: 'Cormorant Infant', serif;
   font-weight: 700;
}
.block {
   max-width: 860px;
   margin: 0 auto;
   padding: 50px 15px;
}
h1 {
   font-size: 40px;
   font-weight: 700;
   line-height: 127%;
   margin-bottom: 13px;
}
.text {
   margin-bottom: 35px;
   line-height: 146.187%;
}
.block p {
   margin-bottom: 20px;
}
.list {
   font-weight: 500;
   line-height: 146.187%;
   margin-bottom: 35px;
}
li {
   padding-left: 35px;
   margin-bottom: 30px;
}
.lists {
   margin-bottom: 35px;
}
/*   Part2   */
.container {
   max-width: 1248px;
   margin: 0 auto;
   padding: 50px 15px;
}
.what {
   text-align: center;
   margin-bottom: 70px;
}
.template {
   display: inline-block;
   font-weight: 500;
   margin-bottom: 16px;
}
img {
   vertical-align: baseline;
}
h2 {
   font-size: 60px;
   font-weight: 700;
   line-height: 121%; 
}
.licencing p {
   line-height: 146%;
}
h3 {
   font-size: 40px;
   font-weight: 700;
   line-height: 121%;
   margin-bottom: 11px;
}
.text-1 {
   margin-bottom: 32px;
}
.licencing span {
   color: #40DDB6;
   font-size: 30px;
   font-weight: 400;
}
.licence {
   margin-bottom: 100px;
}
.text-2,
.text-3 {
   margin-bottom: 24px;
}
h4 {
   margin-bottom: 8px;
}
.text-3,
.text-4 {
   color: #40DDB6;
}
.text-4 {
   margin-bottom: 100px;
}
.text-5 span {
   font-size: 18px;
}
/*------Part 3---------*/
.content {
   max-width: 1270px;
   margin: 0 auto;
   padding: 50px 15px;
}
.decor {
   vertical-align: sub;
   margin-right: 15px;
}
h5 {
   color: #3C4242;
   font-size: 28px;
   font-weight: 650;
   line-height: 33.5px; /* 119.643% */
   letter-spacing: 0.56px;
   display: inline-block;
}
.content-block {
   padding-left: 21px;
}
.block-6 {
   font-weight: 600;
   margin-bottom: 25px;
}
.block-7 {
   margin-bottom: 25px;
}
.block-7 p {
   margin-bottom: 20px;
}
.block-8 {
   margin-bottom: 25px;
}
.block-9 p {
   margin-bottom: 20px;
}
/*-----Part 4-------*/
.content-bottom {
  max-width: 1133px;
  margin: 0 auto;
  padding: 50px 15px;
  font-size: 0;
  box-sizing: content-box;
}
.content-block-text {
  display: inline-block;
  max-width: 503px;
  margin-right: 89px;
  font-size: 16px;
  vertical-align: middle;
}
h6 {
   color: #d58417;
   font-size: 20px;
   margin-bottom: 27px;
}
.benefits {
   color: #000;
   font-size: 64px;
   margin-bottom: 31px;
}
.lorem {
   color: #606060;
   font-size: 30px;
   font-weight: 700;
   line-height: 140%;
}
.jewel {
   vertical-align: middle;
   display: inline-block;
}
.image-1 {
   margin-right: 30px;
   display: inline-block;
   vertical-align: middle;
}
 .one {
   margin-top: 15px;
   vertical-align: top;
 }
.image-2 {
   display: inline-block;
   vertical-align: middle;
}
.two {
   width: 100%;
   vertical-align: top;
}