@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@600&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
.content-top {
  max-width: 692px;
  margin: 0 auto;
}
.content-image {
  max-width: 100%;
  margin: 0px auto 24px;
  vertical-align: top;
}
.title {
  font-family: 'Poppins', sans-serif;
  color: #37393F;
  font-size: 30px;
  font-weight: 600;
  line-height: 127%; 
  margin-bottom: 3px;
}
.content-text {
  color: #7D7D7D;
  font-size: 18px;
  line-height: 146.187%; 
}
.content-block-text p:first-child {
  color: #6B77E5;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 600;
  line-height: 127%;
  margin-top: 42px;
  margin-bottom: 12px;
}
.content-block-text p {
  color: #7D7D7D;
  font-size: 18px;
  font-weight: 400;
  line-height: 146.187%; 
  margin-bottom: 40px;
}
.content-bottom-image {
 max-width: 100%;
}
.content-bottom-block {
  display: inline-block;
  min-width: 313px;
  max-width: 40%;
  margin-left: 29px;
  vertical-align: top;
}
h3 {
  color: #37393F;
  font-family: 'Poppins';
  font-size: 25px;
  font-weight: 600;
  line-height: 127%;
  margin-bottom: 15px;
}
h4 {
  color: #40DDB6;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 600;
  line-height: 127%;
  margin-bottom: 21px;
}
li {
  color: #7D7D7D;
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
li:last-child {
  margin-bottom: 0;
}
 /*----Part two----*/
.container {
  max-width: 1170px;
  margin: 0px auto;
}
.block {
  text-align: left;
  display: inline-block;
  max-width: 563px;
  padding: 21px 0;
  vertical-align: top;
  margin-right: 38px; 
}
.block-text { 
  color: #D06B00;
  font-family: 'Inter';
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
}
h2 {
  color: #0E333D;
  font-family: 'DM Serif Text';
  font-size: 59px;
  font-weight: 400;
  line-height: 146.5%;
  margin-top: 13px;
  margin-bottom: 25px;
}
.block-text-two {
  color: #474747;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 180%; 
  margin-top: 25px;
}
.block-image {
  margin-right: 2px;
}
/* Приклад */
.example-1 {
  height: 200px;
  width: 200px;
  border: 1px solid gray;
  display: none;
}
.example-2 {
  background-color: #7D7D7D;
  height: 200px;
  width: 200px;
  border: 1px solid gray;
  overflow: auto;
}

