@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__products {
  padding: 94px 0;
  background-color: #0e333d;
  color: #fff;
}
@media (max-width: 991.8px) {
  .main__products {
    padding: 60px 0;
  }
}
@media (max-width: 479.98px) {
  .main__products {
    padding: 15px 0;
  }
}

.products__container {
  max-width: 1206px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.products__titles {
  text-align: center;
  margin-bottom: 77px;
}
.products__title {
  color: #FFF;
  font-family: "DM Serif Text";
  font-size: 48px;
  font-weight: 400;
  line-height: 127%;
}
@media (max-width: 479.98px) {
  .products__title {
    font-size: 25px;
  }
}
.products__title:not(:last-child) {
  margin-bottom: 23px;
}
.products__subtitle {
  color: #EBEBEB;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 127%;
  margin-bottom: 34px;
}
.products__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 41px;
  margin-bottom: 77px;
}
.products__item {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 127%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.products__item:hover {
  -webkit-text-decoration: underline 2px #fff;
          text-decoration: underline 2px #fff;
}
.products__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.6%;
}
@media (max-width: 991.8px) {
  .products__cards {
    gap: 6%;
  }
}
.products__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23%;
          flex: 0 1 23%;
}
@media (max-width: 991.8px) {
  .products__link {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
  }
}
@media (max-width: 479.98px) {
  .products__link {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.products__content-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.products__image {
  aspect-ratio: 270/270;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 17px;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.products__image:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.products__about {
  font-family: "Cormorant Infant", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.products__about:hover {
  -webkit-text-decoration: underline 2px #fff;
          text-decoration: underline 2px #fff;
}
.products__price {
  font-family: "Cormorant Infant", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}